@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(242, 242, 242, 1);
  color: #333333;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.navigation-list {
  list-style: none;
}

.navigation-user {
  list-style: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-align: center;
}

.like-quantity {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  vertical-align: middle;
}

.btn {
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.btn-header {
  display: block;
  width: 160px;
}

.btn-search {
  display: block;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
}

.btn-subscribe {
  font-family: inherit;
  display: inline-block;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 232px;
  font-size: 20px;
  line-height: 36px;
}

.btn-apply,
.btn-reset {
  display: block;
  width: 191px;
  font-family: inherit;
  border: none;
}

.btn-more-detailed {
  display: inline-block;
  width: 140px;
}

.btn-favorite  {
  font-family: inherit;
  border: none;
  width: 140px;
}

.btn-brown {
  background-color: #756157;
}

.btn-blue {
  background-color: rgba(130, 179, 211, 1);
}

.btn-green {
  background-color: rgba(125, 181, 79, 1);
}

.btn-transparent {
  background-color: transparent;
}
.welcome {
  height: 485px;
  background-color: rgba(0, 0, 0, .8);
  background-image: url("../images/bg-mask.png"), url("../images/bg-header-home.jpg");
  background-size: 100% auto, cover;
  background-position: bottom left, top left;
  background-repeat: no-repeat;
}

.pseudo-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  text-align: center;
  list-style: none;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.advantages-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list .advantages-item.advantages-item-big {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}

.advantages-item-big .subtitle {
  color: rgba(255, 255, 255, 1);
}

.relax-list {
  text-align: center;
  list-style: none;
}

.relax-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}



.footer-top.home {
  background-color: rgba(0, 0, 0, .8);
  background-image: url("../images/bg-subscribe-home.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.footer-top-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.home .footer-top-title,
.home .section-description {
  color: rgba(255, 255, 255, 1);
}

.field-email {
  width: 452px;
  height: 52px;
  padding: 14px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.field-email::placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: 0.6;
}

.social-list {
  list-style: none;
}

.footer-phone {
  color:rgba(0, 0, 0, 1);
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.filters {
  background-color: rgba(0, 0, 0, .8);
  background-image: url("../images/bg-header-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.filters-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
}

.catalog-filter-group-name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-item .control {
  line-height: 23px;
  color: rgba(255, 255, 255, 1);
}

.price-input {
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
}

.prefix {
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.control-select {
  width: 292px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-color: inherit;
  color: rgba(51, 51, 51, 1);
}

.layout-type {
  list-style: none;
}

.product-list {
  list-style: none;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.product-card-rating {
  display: block;
  width: 140px;
  border-radius: 4px;
  background-color: rgba(242, 242, 242, 1);
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.pagination-list {
  list-style: none;
}

.pagination-link {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
}

.pagination-link-current {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}
